## DATA PREPROCESSING

These are the most common data that we are going to use in TensorFlow (Deep Learning)

* Tables
* Images
* Text

 ### Preparing Tabular Data for Training

It is important to identify which columns are considered categorical. Neural Networks and other models of Machine Learning should prefer numeric inputs (One Hot Encoder)
Another aspect to take account of is the potential of interactions among multiple features

ðŸ¤¬ Sick of trying to use Titanic as an example. <br>
ðŸ¤” There are lot's of dataset out there Â¿? Bigger ones that can teach us better. <br>
But I am still almost a newbie so I'll keep track of what books tell us to do

In [1]:
# Loading libraries
import functools
import numpy as np
import tensorflow as tf
import pandas as pd
from tensorflow import feature_column
from tensorflow.keras import layers
from sklearn.model_selection import train_test_split

In [2]:
# Load data from Google's public storage
TRAIN_DATA_URL = 'https://storage.googleapis.com/tf-datasets/titanic/train.csv'
TEST_DATA_URL = 'https://storage.googleapis.com/tf-datasets/titanic/eval.csv'

train_file_path = tf.keras.utils.get_file('train.csv',TRAIN_DATA_URL)
test_file_path = tf.keras.utils.get_file('eval.csv',TEST_DATA_URL)

Downloading data from https://storage.googleapis.com/tf-datasets/titanic/train.csv
30874/30874 [==============================] - 0s 0us/step
Downloading data from https://storage.googleapis.com/tf-datasets/titanic/eval.csv
13049/13049 [==============================] - 0s 0us/step

In [3]:
print(train_file_path)

/root/.keras/datasets/train.csv

In [4]:
# Read files as pandas DataFrame:
titanic_df = pd.read_csv(train_file_path, header='infer')
titanic_df

,survived,sex,age,n_siblings_spouses,parch,fare,class,deck,embark_town,alone
0,0,male,22.0,1,0,7.2500,Third,unknown,Southampton,n
1,1,female,38.0,1,0,71.2833,First,C,Cherbourg,n
2,1,female,26.0,0,0,7.9250,Third,unknown,Southampton,y
3,1,female,35.0,1,0,53.1000,First,C,Southampton,n
4,0,male,28.0,0,0,8.4583,Third,unknown,Queenstown,y
...,...,...,...,...,...,...,...,...,...,...
622,0,male,28.0,0,0,10.5000,Second,unknown,Southampton,y
623,0,male,25.0,0,0,7.0500,Third,unknown,Southampton,y
624,1,female,19.0,0,0,30.0000,First,B,Southampton,y
625,0,female,28.0,1,2,23.4500,Third,unknown,Southampton,n
626,0,male,32.0,0,0,7.7500,Third,unknown,Queenstown,y

**ðŸ“‘ When datasets are bigger is a best prectice in TensorFlow to convert your table into a straming dataset.** <br>
This ensures that memory consumption wil be not affected by data size

In [6]:
# We can, with TensorFlow, set the target, the column for prediction, the label

LABEL_COLUMN = 'survived'
LABELS = [0,1]

train_ds = tf.data.experimental.make_csv_dataset(
    train_file_path,
    batch_size=3,
    label_name=LABEL_COLUMN,
    na_value='?',
    num_epochs=1)
train_ds = train_ds.ignore_errors()

test_ds = tf.data.experimental.make_csv_dataset(
    test_file_path,
    batch_size=3,
    label_name=LABEL_COLUMN,
    na_value='?',
    num_epochs=1)
test_ds = test_ds.ignore_errors()

In [13]:
# Inspect the data
for batch, label in train_ds.take(1):
  print(label)
  for key, value in batch.items():
    print('{}: {}'.format(key,value.numpy()))

tf.Tensor([1 0 1], shape=(3,), dtype=int32)
sex: [b'female' b'male' b'female']
age: [28. 28. 26.]
n_siblings_spouses: [1 0 0]
parch: [0 0 0]
fare: [16.1     7.8958  7.925 ]
class: [b'Third' b'Third' b'Third']
deck: [b'unknown' b'unknown' b'unknown']
embark_town: [b'Southampton' b'Southampton' b'Southampton']
alone: [b'n' b'y' b'y']